





<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}

    {% block base.html\container %}   
    {% include 'base.html' %} {{bal}}
    {% endblock base.html\container %}

{% block content %}{% endblock content %}

{% block base.html\container\footer %}
{% include 'base.html' %}
{% endblock base.html\container\footer %}



























<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoPy - Home</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/static/CSS/mobile.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico"type="image/x-icon">
    <script src="/static/JS/script.js"></script>
</head>
<body>
    
<div  style="" id="container">

   <div class="nav">

   </div>
   <nav>
       <ul>
            
            
        <br><br><br><br><br><br>
            <li><a style="font-size: 1.8rem;" href="./dashboard.html">Profile</a></li>    <br>
            <li><a href="send.html">Send Algo</a></li>    <br>
            <li><a href="recieve.html">Recieve Algo</a></li>    <br>
            <li><a href="history.html">Txns History</a></li>    <br>
            <li><a href="./index.html">Logout</a></li>
            
        </ul>
    </nav>

  
    <img id="bgimg" src="/static/img/logo.png" alt="">
    <div style="width: 50vw; left: 10cm; top: -1.5cm;" class="stage">
        <h1 style="position:relative; left: -5cm; font-size: 2rem;">Hello, {{DIVYANSH}}</h1>
     
        <footer style="position: fixed; top: 13.8cm; left: 14cm;">
         <i>
                Copyright &copy; All Rights Reserved by AlgoPy.com 
            </i>
            
            
        </footer>
  
    </div>
  
</body>
</html> -->