{% extends 'base.html' %}


{% block title %}AlgoPy - Home{% endblock title %}


{% block container %}
{% include 'base.html' %}

{% block navbar%}
{% include 'base.html' with magic='display:none;'  %}
{% endblock navbar %}

{% endblock container %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoPy - Home</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/static/CSS/mobile.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico"type="image/x-icon">
    <script src="/static/JS/script.js"></script>
</head>
<body>
    
<div id="container">

   
     
    <nav>
        <ul>
            
            <br><br>
            <li><a href="#">Home</a></li>    <br>
            <li><a href="about.html">About Us</a></li>    <br>
            <li><a href="whyUs.html">Why to <br> choose us?</a></li>    <br>
            <li><a href="services.html">Our Services</a></li>    <br>
            <li><a href="contact.html">Contact Us</a></li>
            
        </ul>
    </nav> -->


    <!-- <h1 >Welcome to AlgoPy, A wallet created in python to maintain the track of your Algo(s) based on THE GREEN BLOCKCHAIN ALGORAND</h1>
    <img id="bgimg" src="/static/img/logo.png" alt="">
    <div class="stage">
        <a href="AddAccount.html">

            <button class="btn">Add an existing account</button>
        </a>
        <a href="NewAccount.html">

            <button class="btn">Create a new account</button>
        </a>
        
      </div>
      <br>
        <footer>
         <i>
                Copyright &copy; All Rights Reserved by AlgoPy.com 
            </i>
            
            
        </footer>
  
    </div>
  
</body>
</html> -->