<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
      
        <div class="user-box">
            <label>&nbsp; username</label>
          <input type="text" class="form-control" name="username" required="">
            <label>&nbsp; password</label>
          <input type="text" class="form-control" name="password" required="">
            <label>&nbsp; passfrase</label>
          <input type="text" class="form-control" name="passfrase" required="">
            <label>&nbsp; Address </label>
          <input type="text" class="form-control" name="address" required="">
            <label>&nbsp; privatekey</label>
          <input type="text" class="form-control" name="privatekey" required="">
       </div>
       <a style="position: relative; left: 2cm;" id="submitBtn" href="">

        <input value="Submit" type="Submit" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
      </input>
    </form>     
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatdevice-widthible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
      :root{
        --primary:white;
      }
      td,tr{
        border: 2px solid black;
        background: rgb(255, 97, 97);
        padding: 0px;
      }
      table{
        font-size: 1vw;

      }
      td{
        background: rgb(18, 175, 218);
        color: var(--primary);
      }
    </style>
</head>

<body>

  <!-- {% for i in divyansh %}
   {{i}}
  <br>
  {% endfor %} -->

  <table>
    <tr>
      <th>Sno.</th>
      <th>ID</th>
      <th>Type</th>
      <th>Amount</th>
      <th>From</th>
      <th>To</th>
      <th>Fee</th>
    </tr>

    {% for i in divyansh %}

    <tr>
      <td>{{i.sno}}</td>
      <td>{{i.id}}</td>
      <td>{{i.tnxtype}}</td>
      <td>{{i.amount}}</td>
      <td>{{i.receiver}}</td>
      <td>{{i.sender}}</td>
      <td>{{i.fee}}</td>
    </tr> 
    {% endfor %}
    </table>


</body>

</html>